.form {
  border: 1px solid black;
  width: 50%;
  height: 100px;
  padding: 5px;
}
.form input {
  margin: 5px;
}
.form button {
  padding: 5px;
  margin: 5px;
  margin-top: 15px;
  margin-left: 20px;
}
